* {
    text-align: left; 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/gris.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
blockquote {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color: hotpink;
}
#horizontal {
    padding: 0%;
}
#horizontal li {
    display: inline;
    background-color: cornflowerblue;
    padding: 5px;
    color: white;
}
.Banner {
    background-color: #006bc9 ;
    height: 195px;
}
