* {
    text-align: left; 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/gris.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
blockquote {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color: hotpink;
}
#horizontal {
    padding: 0%;
}
#horizontal li {
    display: inline;
    background-color: cornflowerblue;
    padding: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    float: left;
}
.Banner {
    background-image: url("../img/banner-1155437_960_720.png");
    height: 206px;
    background-size: auto;
    background-repeat: no-repeat;
}
#horizontal li a:hover {
    background-color: #2586d7;
    padding-bottom: 7px;
    color: white;
}
